[user]
	name  = {{ .gitName }}
	email = {{ .userEmail }}
[alias]
	c = commit -m
	st = status
	ad = add
	p = pull
	res = reset --soft HEAD^
	conf = config --global
	ad = add .
	prune = fetch --prune
	pm = pull origin master
	sw = switch
	wt = worktree
[init]
	defaultBranch = main
[core]
	autocrlf = input
	ignorecase = false
	editor = vim
[pull]
	rebase = false

# gh は mise 管理のため、両 OS 共通で mise shim を使う
[credential "https://github.com"]
	helper =
	helper = !{{ .chezmoi.homeDir }}/.local/share/mise/shims/gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !{{ .chezmoi.homeDir }}/.local/share/mise/shims/gh auth git-credential
